<manifest package="com.benboer.boluo.message">
    <!--<application android:name="com.benboer.boluo.main.App">-->
    <!--&lt;!&ndash; android:permission在2.13.1.0版本后必须配置 &ndash;&gt;-->
    <!--<service-->
    <!--android:name="com.benboer.boluo.message.PushIntentService"-->
    <!--android:permission="android.permission.BIND_JOB_SERVICE"/>-->
    <!--</application>-->
</manifest>
